@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* 
Colors:
	Body 		: #333
	Headers 	: #2B2D42
	Primary 	: #D10024
	Dark 		: #15161D ##1E1F29
	Grey 		: #E4E7ED #FBFBFC #8D99AE #B9BABC */

:root {
    --cor-principal: orange;
    --cor-topo: #15161D ;
    --cor-fundo:#333 ;
    --fonte-normal: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-normal);
}

a {
    text-decoration: none;
    color: white;
}

button {
    background: none;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}


/* AQUI È O TOPO  !!!!!!!!*/
header {
    align-self: center;
    display: flex;
    background-color: var(--cor-topo);
    justify-content: center;
    height: 15vh;
    align-items: center;
    box-shadow: 2px 2px 10px rgb(33, 32, 32);
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 4;

}
nav{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
}
.bape {
    display: flex;
    gap: 30px;
}

#butPesquisar {
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    cursor: pointer;
}

.barraPesquisa {
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    
}
#inputSearch{
    width: 400px;
    outline: none;
    border: none;
    padding: 10px;
    font-weight: bold;
letter-spacing: 1px;
}

.pessoal {
    display: flex;
    gap: 10px;
    margin-right: 10vw;
}

.menuHamburger {
    cursor: pointer;

    border: 1px solid rgb(42, 42, 42);
    padding: 5px;
    border-radius: 5px;
}

.colHamburger {
    width: 20px;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(223, 222, 222);
    margin-bottom: 4px;
    display: block;
}

/*AQUI É O MENU DE LINK*/
.btndesaparecendo {
    opacity: 0;
}

.menuLinks {
    display: none;
}

 .menuLinksAparecendo{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    background-color:
    var(--cor-topo);
    top: 0;
    height: 100vh;
    
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    width: 20vw;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.menuLinkTopo{
    display: flex;
    justify-content: space-between;
    width: 50%;
    width: max-content;
    margin-top: 10vh;
    gap: 20px;

}
.links{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.links a{
    text-decoration: none;
}

.cadastro{
    text-decoration: none;
    margin-bottom: 5vh;
}
/*AQUI É O CARRINHO VRUM VRUM*/

.menuCarrinho {
    display: none;
}

.menuCarrinhoAparecendo {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    background-color:
    var(--cor-topo);
    top: 0;
    right: 0;
    height: 100vh;
    width: 30vw;
    box-shadow: 0px 0px 10px  rgb(21, 20, 20);
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

#conteinerCarrinho {
    overflow-y: auto;
    height: 500px;
    box-shadow:  2px 0px 10px inset  black; 
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    overflow-x: hidden;
    padding-bottom: 20px;
}

.topoCarrinho {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#finalizarCompra {
    margin-bottom: 5vh;
    border: 1px solid rgb(42, 42, 42);
    padding: 10px;
    border-radius: 10px;
}
@keyframes trCor{
    from{background-color: #0B0B0B;}
    to{background-color: orange;}
}
#finalizarCompra:hover{
    animation: trCor 500ms ;
    background-color: orange;
}

#spanQuant{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; 
  height: 25px; 
  border-radius: 50%;
  background-color: orange;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
/*AQUI É O MENU PERFIL*/
.menuProfile {
    display: none;
}

.menuProfileAparecendo {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: min-content;
    height: min-content;
    width: 25vw;
    height: 55vh;
    border-radius: 20px;
    position: fixed;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgb(33, 32, 32);
    background-color: var(--cor-topo);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.botoesMenuProfile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputMenuProfile {
    border: none;
    outline: none;
    border-bottom: 4px solid var(--cor-principal);
    padding: 10px;
    border-radius: 20px;
}

#loginMenuProfile {
    width: 50%;
    background-color: rgb(236, 167, 40);
    border-radius: 20px;
    padding: 10px;
    font-size: 10pt;
}

.topoMenuProfile {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.dadosMenuProfile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    color: rgb(236, 167, 40);
}



            /*container dos Produtos*/
.filtros{
    border-left: none;
    position: sticky;
    height: 70vh;
    margin-top: 50px;
    width: 20vw;
}

.secaoProduto{
    display: flex;
    width: 80vw;
    flex-direction: column;
    
    align-self: center;
}
.containerProdutos{
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    margin-bottom: 60px;
    margin-left: 10%;
    
}
.titulos_filtros{
    color: var(--cor-principal);

}
.produto{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 10vw;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 10px;
}
#titsec{
    color: var(--cor-principal);
    margin-top: 5vh;
    cursor: pointer;
}
.estrela{
    height: 15px;
}
#titsec {
    cursor: pointer;
    color: orange;
}

.preco {
    color: orange;
    font-weight: 700;
}

.marca {
    color: grey;
}
main{
    display: flex;
    justify-content: center;
}
.filtro-marca{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-bottom: 2px solid var(--cor-principal);
    padding-bottom: 10px;
}
#filtrar-marca{
    background-color: var(--cor-principal);
    width: fit-content;
    border-radius: 10px;
    width: 100px;
    align-self: center;
    margin-top: 30px; 
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 20px;
    padding: 10px;
}
.inpu_label{
    display: flex;
    gap: 10px;
}

.butAdd{
    background-color: var(--cor-principal);
    padding: 10px;
    border-radius: 10px;
    
}
/* Produto No Carrinho!!!!! */



.estrela{
    height: 15px;
}
#titsec {
    cursor: pointer;
    color: orange;
}

.preco {
    color: orange;
    font-weight: 700;
}

.marca {
    color: grey;
}

.butAdd {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.445);
    align-self: center;


}


.produtoNoaCarrinho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 100px;
    width: 80%;
    border-radius: 15px;
    padding: 5px;
    z-index: 1;
    border: 1px solid rgb(42, 42, 42);
}


.caracteristicas {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.imgProdutoCarrinho {
    height: 50px;

}

.infoProduto {
    display: flex;
    font-size: 15pt;
    gap: 7px;
    align-items: center;
}

.fecharProdutocarrinho{
    height: 20px;
    width: 20px;
    margin-top: 4px;
    margin-right: 10px;
    align-self: flex-end;
}

.botoesDoProdutoCarrinho {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.btnsQuant {
    cursor: pointer;

}


#spanQuant{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; 
  height: 25px; 
  border-radius: 50%;
  background-color: orange;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

#btnAbrirCarrinho {
    display: flex;
}

.imgProdutoMain {
    height: 100px;
}

#btnFecharCarrinho{
    margin-bottom: -30px;
}
#btnFecharMenu{
    margin-bottom: -30px;

}