@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* 
Colors:
	Body 		: #333
	Headers 	: #2B2D42
	Primary 	: #D10024
	Dark 		: #15161D ##1E1F29
	Grey 		: #E4E7ED #FBFBFC #8D99AE #B9BABC */

:root {
    --cor-principal: orange;
    --cor-topo: #15161D ;
    --cor-fundo:#333 ;
    --fonte-normal: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-normal);
}

a {
    text-decoration: none;
    color: white;
}

button {
    background: none;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    width: 100vw;
}

html{
    scroll-behavior: smooth;
}


/* AQUI È O TOPO  !!!!!!!!*/
header {
    align-self: center;
    display: flex;
    background-color: var(--cor-topo);
    justify-content: center;
    height: 15vh;
    align-items: center;
    box-shadow: 2px 2px 10px rgb(33, 32, 32);
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 4;

}
nav{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
}
.bape {
    display: flex;
    gap: 30px;
}

#butPesquisar {
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    cursor: pointer;
}

.barraPesquisa {
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    
}
#inputSearch{
    width: 400px;
    outline: none;
    border: none;
    padding: 10px;
    font-weight: bold;
letter-spacing: 1px;
}

.pessoal {
    display: flex;
    gap: 10px;
    margin-right: 10vw;
}

.menuHamburger {
    cursor: pointer;

    border: 1px solid rgb(42, 42, 42);
    padding: 5px;
    border-radius: 5px;
}

.colHamburger {
    width: 20px;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(223, 222, 222);
    margin-bottom: 4px;
    display: block;
}

/*AQUI É O MENU DE LINK*/
.btndesaparecendo {
    opacity: 0;
}

.menuLinks {
    display: none;
}

    @keyframes trazerContLinks{
        from{transform: translate(-200%,0);}
        to{transform: translate(0,0);}
    }
    @keyframes trazerMenuLinks{
        from{background-color: rgba(0, 0, 0, 0.0);}
        to{background-color: rgba(0, 0, 0, 0.5);}
    }
 .menuLinksAparecendo{
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    animation: trazerMenuLinks 700ms;
}
.contMenuLinks{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    background-color:
    var(--cor-topo);
    top: 0;
    height: 100vh;
    width: 20vw;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    animation: trazerContLinks 700ms;
}
.menuLinkTopo{
    display: flex;
    justify-content: space-between;
    width: 50%;
    width: max-content;
    margin-top: 10vh;
    gap: 20px;

}
.links{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.links a{
    text-decoration: none;
}

.cadastro{
    text-decoration: none;
    margin-bottom: 5vh;
}
/*AQUI É O CARRINHO VRUM VRUM*/

.menuCarrinho {
    display: none;
}
@keyframes trazerContCarrinho{
    from{transform: translate(100%,0);}
    to{transform: translate(0,0);}
}

@keyframes trazerMenuCarrinho{
    from{background-color: rgba(0, 0, 0, 0.0);}
    to{    background-color: rgba(0, 0, 0, 0.5);}
}
.menuCarrinhoAparecendo {
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    animation: trazerMenuCarrinho 700ms;
}

.contMenuCarrinho{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    background-color:
    var(--cor-topo);
    top: 0;
    right: 0;
    height: 100vh;
    width: 30vw;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    animation:trazerContCarrinho 700ms;
}

#conteinerCarrinho {
    overflow-y: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    overflow-x: hidden;
    padding-bottom: 20px;
    justify-content: center;
}

.topoCarrinho {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#finalizarCompra {
    margin-bottom: 5vh;
    border: 1px solid rgb(42, 42, 42);
    padding: 10px;
    border-radius: 10px;
}
@keyframes trCor{
    from{background-color: #0B0B0B;}
    to{background-color: orange;}
}
#finalizarCompra:hover{
    animation: trCor 500ms ;
    background-color: orange;
}


/*AQUI É O MENU PERFIL*/
.menuProfile {
    display: none;
}
@keyframes trazerMenuProfile{
    from{background-color: rgba(0, 0, 0, 0.0);}
    to{    background-color: rgba(0, 0, 0, 0.7);}
}
.menuProfileAparecendo {
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    animation: trazerMenuProfile 700ms;
}

@keyframes descerContProfile{
    from{transform: translate(-50%,-300%);}
    to{transform: translate(-50%,-50%);}
}


.contMenuProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: min-content;
    height: min-content;
    width: 25vw;
    height: 55vh;
    border-radius: 20px;
    position: fixed;
    box-sizing: border-box;
    background-color: var(--cor-topo);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
    animation: descerContProfile 700ms ;
}
.botoesMenuProfile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputMenuProfile {
    border: none;
    outline: none;
    border-bottom: 4px solid var(--cor-principal);
    padding: 10px;
    border-radius: 20px;
}

#loginMenuProfile {
    width: 50%;
    background-color: rgb(236, 167, 40);
    border-radius: 20px;
    padding: 10px;
    font-size: 10pt;
}

.topoMenuProfile {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.dadosMenuProfile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    color: rgb(236, 167, 40);
} 





/*container dos Produtos*/

.secaoProduto {
    display: flex;
    width: 80vw;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.productComBotoes{
    height: 50vh;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
    margin-top: 100px;
}

.btnSlide{
    margin-top: -40px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
@keyframes modarCorBtn{
    from{
        background-color: white;
    }
    to{
        background-color: rgba(128, 128, 128, 0.179);
    }
}
.btnSlide:hover{
    animation: modarCorBtn 400ms linear;    
    background-color: rgba(128, 128, 128, 0.179);
}
.btnSlide::after{
    height: 600px;
    background-color: black;
}
.btnSlide::before{
    height: 200px;
    background-color:ge;
}

.containerProdutos{
    display: flex;
    gap: 5vw;
    align-items: end;
    overflow-y: hidden;
    margin-top: -100px;
    width: 70vw;
}

.containerProdutos::-webkit-scrollbar{
    display: none;
}


.produto {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid rgba(128, 128, 128, 0.445);
    padding-bottom: 20px;
}

.imgProdutoMain {
    align-self: center;


}
.divProdutoMain{
    width: 130px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;

}

.estrela{
    height: 15px;
}
#titsec {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: orange;
    font-size: x-large;
    margin-bottom: 70px;
}

.preco {
    color: orange;
    font-weight: 700;
}

.marca {
    color: grey;
}

.butAdd {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.445);
    align-self: center;


}


.produtoNoaCarrinho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 100px;
    width: 80%;
    border-radius: 15px;
    padding: 5px;
    z-index: 1;
    border: 1px solid rgb(42, 42, 42);
}


.caracteristicas {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.imgProdutoCarrinho {
    height: 50px;

}

.infoProduto {
    display: flex;
    font-size: 15pt;
    gap: 7px;
    align-items: center;
}

.fecharProdutocarrinho{
    height: 20px;
    width: 20px;
    margin-top: 4px;
    margin-right: 10px;
    align-self: flex-end;
}

.botoesDoProdutoCarrinho {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.btnsQuant {
    cursor: pointer;

}


#spanQuant{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; 
  height: 25px; 
  border-radius: 50%;
  background-color: orange;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transform: translate(-70%,-60%);
    scale: 0.8;
}

#btnAbrirCarrinho {
    display: flex;
}

.imgProdutoMain {
    height: 100px;
}

#btnFecharMenu{
    margin-bottom: -30px;

}
.oferta{
    width: 80vw;
    background-color: orange;
    border-radius: 15px;
    height: 40vh;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.oferta2{
    width: 80vw;
    background-color: var(--cor-topo);
    border-radius: 15px;
    height: 40vh;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banerInicio{
    background-color: #ececec;
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tituloBI{
    font-size: 40pt;
    color: rgb(81, 81, 81);
}
.img1BI {
    position: absolute;
    align-self: flex-end;
    height: 15vh;
    z-index: 3; 
    filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.955));
}
.imgBI2{
    height: 30vh;
    filter: drop-shadow(2px 2px 7px rgba(0, 0, 0, 0.955));
}

#levarProdutos{
    background-color: orange;
    border:none;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    width: 120px;
    height: 40px;
    font-size: 15pt;
    font-style: italic;
    font-weight: 700;
    cursor: pointer;
}
#levarProdutos a{
    color: black;
}

.fotosBI{
    display: flex;
    align-items: center;
    justify-content: end;
}

.primeiroContato{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
    align-self: center;
    align-items: center;
    width: 84vw;
}
.lugChamativos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.chamativos{
    width: 45%;
    height: 250px;
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}
.imgChamativo{
    height: 50%;
}
#tecladok95{
    height: 40%;
}
.lugQualidades{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 70px;
    flex-wrap: wrap;
    gap: 20px;
}

.caracteristicasQualidadesTitle{
    font-weight: 700;
    }

.caracteristicasQualidades{
    color: rgb(88, 88, 88);
    font-size: smaller;
}
.qualidade{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 17%;
    gap: 30px;
}
.imgQuali{
    height: 50px;
}
.shopNow{
    text-decoration: underline;
    color: grey;
}
@keyframes mudarCorshopNow{
    from{
        color: grey;
    }
    to{
        color: orange;
    }
}
.shopNow:hover{
    animation: mudarCorshopNow 600ms ;
    color: orange;
    cursor: pointer;
}
.nomeLug{
    display: flex;
}
.nomeP1{
    font-weight: 700;
    font-size: x-large;
    color: rgb(79, 79, 79);
    letter-spacing: 2px;

}
.cateG{
    color: rgb(83, 83, 83);
    font-size: large;
}
.carac{
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 80%;
    justify-content: space-between;
    font-size: medium;
}

.tituloTopoCarrinho{
    font-size: 30pt;
    color: orange;
}


.ProdutosIndividuais{
display: none;
}
.ProdutosIndividuaisAparecendo{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0b0b0b5f;
    z-index: 5;
}
.caracteristicasProdutoIndividual{
    display: flex;
    flex-direction: column;

}
.btnFecharProdutoIndividual{
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 7%;
    margin-top: 5%;
    cursor: pointer;
}
.totalProdutoIndividual{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed ;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 70vh;
    margin-top: 20px;
    width: 70vw;
    background-color: white;
    z-index: 10;
    border-radius: 20px;
}
.divImgProdutoIndividual{
    background-color: rgba(128, 128, 128, 0.274);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.left-side{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.caracteristicasProdutoIndividual{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.nomeProdutoIndividual{
    font-weight: 700;
    font-size: 25pt;
}
.marcaProdutoIndividual{
    color: grey;    
}
.precoProdutoIndividual{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 20pt;
}
.semjurosProdutoIndividual{
    font-weight: 400;
    font-size: 10pt;
}
.txtsemjuros{
    font-weight: 700;
    font-size: 13pt;
}
.quantidadeProdutoIndividual{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgba(128, 128, 128, 0.26);
    gap: 40px;
    width: min-content;
    font-size: 15pt;
    overflow-y: hidden;
    height: 40px;
    width: 150px;
    border-radius:5px;
}
.btnMudarQuantProdutoIndividual{
    display: flex;
    align-items: center;
}
.btnAdicionarCarrinhoProdutoIndividual{
    background-color: var(--cor-principal);
    border-radius: 10px;
    padding: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
/* 
COLOCAR NAS IMAGENS DE PRODUTOS

button {
  color: white;
  background: blue;
  transition: transform 1s;
  transform: translateX(0) scale(0.5);
}

button:hover,
button:focus {
  background: red;
  transform: translateX(10px) scale(1.2);
  
}

*/